@use "../../../scss/" as *;

.BlockContent {
    width: 100%;
    &_wrapper {
        &_left {
            span {
                &:first-child {
                    font-size: 28px;
                    text-transform: capitalize;
                }
                font-size: 15px;
                color: $color-white;
                text-transform: capitalize;
            }
        }

        &_right {
            .BlockContentTop_wrapper_box {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid white;
                width: 35px;
                height: 35px;
                border-radius: 12px;
                background-color: $background-color-white-blur;


            }
        }
    }
}

.BlockContentInfo {
    &_wrapper {
        &_blur {
            background-color: $background-color-white-blur;
            border-radius: 8px;
            padding: 8px;
        }
        &_left {
            .BlockContentInfo_text {
                span {
                    &:first-child {
                        font-size: 16px;
                        text-transform: capitalize;
                        color: $color-black;
                    }
                    font-size: 12px;
                    color: $color-black-blur;
                    text-transform: capitalize;

                }
            }
            span {
                &:first-child {
                    font-size: 28px;
                    text-transform: capitalize;
                }
                font-size: 15px;
                color: $color-white;
                text-transform: capitalize;
            }
        }

        &_right {
            .BlockContentInfo_wrapper_box {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid white;
                width: 35px;
                height: 35px;
                border-radius: 12px;
                background-color: $background-color-white-blur;

            }
        }
    }
}

.BoxInput{
    // background-color: $background-color-white-blur;
    border-radius: 12px;
    padding: 0 18px;
    position: relative;
    &.error{
        border: 1px solid red;
    }

    &_error{
        position: absolute;
        bottom: 0;
        transform: translateY(100%);
    }
}
