@use '../../../scss/' as *;


.NavBarTop{

    .NavBarTop_icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: $background-color-white;
        box-shadow: 0 0 20px rgba(137, 137, 137, 0.3);
        backdrop-filter: blur(50px);
        border-radius: 50%;
    }
}