@use '../../scss/' as *;

.Transaction{
    width: 100%;
    top: 10%;
    padding: 10px 25px;
    height: 100%;

    &_popup{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        > div {
           position: absolute;
           bottom: 0; 
        }
    }
    &_Inputboard{
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        z-index: 1;
    }
    &_button{
        position: absolute;
        width: 90%;
        bottom: 100%;
        left: 5%;
        margin-bottom: 20px;
    }
    &_BlockContent{
        position: relative;
        &_circle{
            position: absolute;
            left: 45%;
            top: 41%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            background-color: rgba(255, 255, 255, 0.44);
            border-radius: 50%;
            box-shadow: -1px 2px 100px 0px #004DFF;
            backdrop-filter: blur(20px);
        }
    }
}